
body {
	background:silver;
	font-family: sans-serif;
	font-size: 10px;
}
#clear {
	background:red;
}
.flexcontainer {
	display : flex;
	flex-flow : row wrap;
	justify-content : flex-start;
	align-content: flex-start;
	align-items: flex-start;
	width: 640px;
	
}

.flexitem {
	flex: 0 1 auto;
	align-self: auto;
	min-width: 80px;
	min-height: 80px;
}



div.album {
	
	width : 300px;
	float : left;
	margin: 10px;
	
}


div.addthisalbum {
	background-color: green;
	color: black;
	width: 300px;
	height: 60px;
	
}