.flexcontainer {
	display : flex;
	flex-flow : row wrap;
	justify-content : flex-start;
	align-content: flex-start;
	align-items: flex-start;
	width: 100%;
	
}

.flexitem {
	flex: 0 1 auto;
	align-self: auto;
//	min-width: 80px;
//	min-height: 80px;
	
}
/*
div.albumname>div.hidden {
	display:none;
}
*/
.main {
	display : hidden;
	clear : none;
	position:fixed;
	width:160px;
	line-height:2em;
	border-radius: 10px;
	 border: 2px solid white;
	 top : 10px;
	 left : 10px;
	 padding-left:2em;
	 background-color:rgba(244,244,222,0.5);
	 cursor: pointer;
}

.albumname:hover {
	background-color:rgba(255,0,0,0.4);
}
.albumname {
	background-color:rgba(244,244,222,0.5);
}

.menuselect {
	position:fixed;
	clear : none;
	 border-radius: 10px;
	  border: 2px solid white;
	  top : 10px;
	 left : 10px;
	 background-color:rgba(255,255,255,0.8);
	 cursor: pointer;
}

.view {
	
}

.photo {
	margin:1em;
}
.hidden {
	display : none;
}
.home {
	width:100%;
	margin: 0 0 auto;
	text-align: center;
	margin-top:100px;
	font-family: 'Rouge Script', cursive !important;
}
.testimonial {
	margin:5em;
}
.contact {
	margin:10em;
}



a {
	text-decoration: none;
}

p {
	max-width: 500px;
}
ul {
	list-style: none;
}

body {
	padding : 1em;
}
* {
	background-color: white;
	color: black;
	margin:0;
	padding:0;
	
}